@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
	background-image: url("/EmployeeManagement/WebContent/WEB-INF/resources/images/wallpaper.jpg");	
}

.loginBox {
	text-align: center;
	margin: auto;
	width: 270px;
	height: auto;
	padding: 30px;
	margin-top: 170px;
	box-shadow: 0 0 40px black;
}

.loginBox input {
	height: 30px;
	margin-left: -10px;
}

.textBox input {
	border: none;
	border-bottom: 1px solid black;
	outline: none;
}

.userAndPass {
	font-style: italic;
}

.loginBox h1 {
	margin-left: -90px;
	margin-top: -10px;
}

.loginButton {
	margin-left: -115px;
	width: 160px;
	background: white;
	color: #8D489B;
	border: 1px solid #8D489B;
	font-weight: bold;
	cursor: pointer;
}

.loginButton:hover {
	width: 160px;
	background: #8D489B;
	color: white;
	border: 1px solid #8D489B;
	font-weight: bold;
	cursor: pointer;
}

.userIcon {
	margin-left: -150px;
	color: black;
	padding: 5px;
}

.passIcon {
	margin-left: -150px;
	color: black;
	padding: 5px;
}

hr.underline {
	border-bottom: 1px solid #8D489B;
}

.invalidUsernameAndPasswordMessage {
	color: red;
	font-weight: bold;
}

.logoutMessage {
	color: green;
	font-weight: bold;
}