.title {
	color: white;
	text-align: center;
}

.header {
	background-color: black;
	width: auto;
	height: 80px;
}

.header a {
	font-size: 15px;
	color: #1ED0E4;
	float: right;
	margin-top: -85px;
	margin-right: 20px;
}

.header a:hover {
	font-size: 15px;
	color: #2C6CDB;
	float: right;
	margin-top: -85px;
	margin-right: 20px;
}

.line {
	height: 3px;
	width: auto;
	background-color: #8D489B;
}

.bodyContent {
	margin: auto;
	text-align: center;
	width: 900px;
	height: 500px;
	box-shadow: 0 0 40px black;
	padding: 5px;
	border-radius:150px;
	
}

.bodyContent a {
	display: block;
	font-family: arial;
	text-decoration: none;
	border: 2px solid #8D489B;
	border-radius: 10px;
	background-color: #8D489B;
	width: 270px;
	height: 20px;
	text-align: center;
	color: white;
	margin: auto;
	font-size: 15px;
	padding: 5px;
}

.bodyContent a:hover {
	font-family: arial;
	text-decoration: none;
	border: 2px solid #8D489B;
	border-radius: 10px;
	background-color: white;
	display: block;
	width: 270px;
	color: #8D489B;
	height: 20px;
	text-align: center;
	margin: auto;
	font-size: 15px;
	padding: 5px;
	font-weight: bold;
	cursor: pointer;
}

.backButton a {
	display: block;
	font-family: arial;
	text-decoration: none;
	border: 2px solid #20CEC3;
	background-color: #20CEC3;
	text-align: center;
	width: 40px;
	height: 15px;
	color: white;
	font-size: 12px;
	padding: 2px;
	margin-left: 10px;
	color: white;
}

.backButton a:hover {
	font-family: arial;
	text-decoration: none;
	border: 2px solid #20CEC3;
	background-color: white;
	display: block;
	width: 40px;
	color: #20CEC3;
	height: 15px;
	text-align: center;
	font-size: 15px;
	padding: 2px;
	font-weight: bold;
	font-size: 12px;
}

table {
	text-align: center;
}

.tableHead td {
	background-color: #8D489B;
	color: white;
	text-align: center;
}

.tableBody tr:nth-child(odd) td {
	background-color: #E5DBE3;
	
}

.deleteButton {
	display: block;
	width: 55px;
	height: 20px;
	background-color: white;
	border: 2px solid #CB5858;
	color: red;
	text-align: center;
}

.deleteButton:hover {
	display: block;
	width: 55px;
	height: 20px;
	background-color: #F76363;
	border: 2px solid #F76363;
	color: white;
	text-align: center;
	cursor: pointer;
}

.editButton {
	display: block;
	width: 55px;
	height: 20px;
	background-color: white;
	border: 2px solid #20CEC3;
	color: #20CEC3;
	text-align: center;
}

.editButton:hover {
	display: block;
	width: 55px;
	height: 20px;
	background-color: #20CEC3;
	border: 2px solid #20CEC3;
	color: white;
	text-align: center;
	cursor: pointer;
}

.searchIcon {
	border: 2px solid #8D489B;
	border-radius: 5px;
	border-left: 0;
	background-color: #8D489B;
	font-size: inherit;
	display: inline-flex;
	font-size: 20px;
	color: white;
	cursor: pointer;
}

.searchIcon:hover{
	border: 2px solid #B57EC0;
	border-radius: 5px;
	border-left: 0;
	background-color: #B57EC0;
	font-size: inherit;
	display: inline-flex;
	font-size: 20px;
	color: white;
	cursor: pointer;
}

.searchBar {
	border: 2px solid #8D489B;
	border radius: 5px;
	font-size: inherit;
	display: inline-flex;
	font-size: 20px;
	color: black;
}

.refreshIcon {
	border: 2px solid #8D489B;
	border-radius: 10px;
	font-size: inherit;
	display: inline-flex;
	font-size: 20px;
	color: white;
	background-color: #8D489B;
	margin-left: 5px;
	cursor: pointer;
}

.refreshIcon:hover {
	border: 2px solid #B57EC0;
	border-radius: 10px;
	font-size: inherit;
	display: inline-flex;
	font-size: 20px;
	color: white;
	background-color: #B57EC0;
	margin-left: 5px;
	cursor: pointer;
}

.searchArea {
	display: inline-flex;
}

.adminEmployeeListContainer {
	margin: auto;
	width: auto;
	height: auto;
	box-shadow: 0 0 40px black;
	padding: 20px;
	border-radius:10px;
}

.adminEmployeeListContainer h1 {
	text-align: center;
}

.adminEmployeeUpdateContainer {
	margin: auto;
	width: 500px;
	height: auto;
	box-shadow: 0 0 40px black;
	padding: 10px;
}

.adminEmployeeUpdateContainer h1 {
	text-align: center;
	margin-top: 10px;
	color: #9E9191;
}

.adminEmployeeUpdateContainer td {
	padding: 10px;
}

.adminEmployeeUpdateTable {
	margin: auto;
	text-align:left;
}

.adminEmployeeUpdateTable select {
	font-weight: bold;
}

.adminEmployeeUpdateTable td {
	font-weight: bold;
}

.adminEmployeeUpdateTable label {
	font-weight: bold;
}

.textArea {
	width: 180px;
	border: 1px solid #8D489B;
	border-radius: 5px;
	text-align: center;
	padding: 2px;
}

.admExistingEmplUpdateButton {
	border: 2px solid #8D489B;
	border-radius: 5px;
	color: #8D489B;
	background-color: white;
	font-weight: bold;
	margin-left: 160px;
	padding: 5px;
}

.admExistingEmplUpdateButton:hover {
	border: 2px solid #8D489B;
	border-radius: 5px;
	color: white;
	background-color: #8D489B;
	margin-left: 160px;
	padding: 5px;
	cursor: pointer;
}

.adminEmployeeAddContainer {
	margin: auto;
	width: 500px;
	height: auto;
	box-shadow: 0 0 40px black;
	padding: 20px;
}

.adminEmployeeAddContainer h1 {
	text-align: center;
	margin-top: 10px;
	color: #9E9191;
}

.adminEmployeeAddContainer td {
	font-weight: bold;
	padding: 10px;
	text-align:left;
}

.admEmplAddButton {
	border: 2px solid #8D489B;
	border-radius: 5px;
	color: #8D489B;
	background-color: white;
	font-weight: bold;
	padding: 5px;
}

.admEmplAddButton:hover {
	border: 2px solid #8D489B;
	border-radius: 5px;
	color: white;
	background-color: #8D489B;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}

.adminDepartmentsListContainer {
	margin: auto;
	width: 300px;
	min-height: 150px;
	box-shadow: 0 0 40px black;
	padding: 20px;
}

.adminDepartmentsListContainer h1 {
	text-align: center;
	margin-top: 2px;
}

.adminDepartmentAdd {
	margin: auto;
	width: 510px;
	height: auto;
	box-shadow: 0 0 40px black;
	padding: 10px;
	border-radius:30px;
}

.adminDepartmentAdd h1 {
	text-align: center;
	margin-top: 5px;
}

.addDeparmentForm {
	font-weight: bold;
	margin-left: 20px;
	
}

.addDepartmentButton {
	margin-left: 170px;
	border: 2px solid #8D489B;
	border-radius: 5px;
	background-color: white;
	color: #8D489B;
	background-color: white;
}

.addDepartmentButton:hover {
	margin-left: 170px;
	border: 2px solid #8D489B;
	border-radius: 5px;
	background-color: #8D489B;
	color: white;
	cursor: pointer;
}

.adminDepartmentUpdateAreaContainer {
	margin: auto;
	width: 510px;
	height: 180px;
	box-shadow: 0 0 40px black;
	padding: 10px;
}

.adminDepartmentUpdateAreaContainer h1 {
	text-align: center;
	margin-top: 5px;
	color: #9E9191;
}

.updateDepartmentForm {
	font-weight: bold;
	margin-left: 20px;
	padding: 20px;
}

.updateDepartmentButton {
	margin-left: 170px;
	border: 2px solid #8D489B;
	border-radius: 5px;
	background-color: white;
	color: #8D489B;
}

.updateDepartmentButton:hover {
	margin-left: 170px;
	border: 2px solid #8D489B;
	border-radius: 5px;
	background-color: #8D489B;
	color: white;
	cursor: pointer;
}

.adminPositionsListContainer {
	margin: auto;
	width: 300px;
	min-height: 180px;
	box-shadow: 0 0 40px black;
	padding: 20px;
}

.adminPositionsListContainer h1 {
	text-align: center;
	margin-top: 2px;
}

.adminPositionAdd {
	margin: auto;
	width: 510px;
	height: 130px;
	box-shadow: 0 0 40px black;
	padding: 10px;
	border-radius:30px;
}

.adminPositionAdd h1 {
	text-align: center;
	margin-top: 5px;
}

.addPositionForm {
	font-weight: bold;
	margin-left: 20px;
}

.addPositionButton {
	margin-left: 170px;
	border: 2px solid #8D489B;
	border-radius: 5px;
	background-color: white;
	color: #8D489B;
}

.addPositionButton:hover {
	margin-left: 170px;
	border: 2px solid #8D489B;
	border-radius: 5px;
	background-color: #8D489B;
	color: white;
	cursor: pointer;
}

.adminPositionUpdateAreaContainer {
	margin: auto;
	width: 510px;
	height: 180px;
	box-shadow: 0 0 40px black;
	padding: 10px;
}

.adminPositionUpdateAreaContainer h1 {
	text-align: center;
	margin-top: 5px;
	color: #9E9191;
}

.updatePositionForm {
	font-weight: bold;
	margin-left: 20px;
	padding: 20px;
}

.updatePositionButton {
	margin-left: 170px;
	border: 2px solid #8D489B;
	border-radius: 5px;
	background-color: white;
	color: #8D489B;
}

.updatePositionButton:hover {
	margin-left: 170px;
	border: 2px solid #8D489B;
	border-radius: 5px;
	background-color: #8D489B;
	color: white;
	cursor: pointer;
}

.employeeDetails {
	text-align: center;
}

.emplDetailsTable {
	text-align: left;
	margin: auto;
}

.emplDetailsTable td {
	padding: 5px;
}

.employeeDetailsContainer {
	margin:auto;
	width: 300px;
	height: auto;
	box-shadow: 0 0 40px black;
	padding: 20px;
	border-radius:20px;
}

.employeeDetailsContainer h2 {
	margin-top: 5px;
	text-align: center;
}

.emplDetailsColor {
	font-style: italic;
	color: grey;
}

.employeeSameDepContainer {
	margin:auto;
	width: 700px;
	min-height:200px;
	box-shadow: 0 0 40px black;
	padding: 20px;
}

.employeeSameDepContainer h2 {
	text-align: center;
}

.plannedTimeOff {
	margin:auto;
	width: 700px;
	min-height: 200px;
	box-shadow: 0 0 40px black;
	padding: 20px;
}

.plannedTimeOff h2 {
	text-align: center;
}

#plannedTimeOffId td {
	padding: 7px;
}

.requestTimeOffButton {
	padding: 10px;
	text-decoration: none;
	background-color: #20CEC3;
	color: white;
	border: 2px solid #20CEC3;
	margin-left:580px;
}

.requestTimeOffButton:hover {
	margin-left:580px;
	padding: 10px;
	text-decoration: none;
	background-color: white;
	color: #20CEC3;
	border: 2px solid #20CEC3;
}

.requestTimeOffContainer {
	margin: auto;
	width: 500px;
	height: auto;
	box-shadow: 0 0 40px black;
	padding: 20px;
	
}

.requestTimeOffContainer h1 {
	margin-top: 10px; text-align : center;
	color: #9E9191;
	text-align: center;
}

.requestTimeOffTable {
	margin: auto;
	padding: 10px;
	text-align:left;
}

.requestTimeOffTable td {
	padding: 15px;
}

.requestTimeOffSubmitButton {
	border: 2px solid #8D489B;
	border-radius: 5px;
	color: #8D489B;
	background-color: white;
	font-weight: bold;
	padding: 5px;
	margin-left:190px;
}

.requestTimeOffSubmitButton:hover {
	border: 2px solid #8D489B;
	border-radius: 5px;
	color: white;
	background-color: #8D489B;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}

.plannedTimeOffManager {
	margin:auto;
	width: 700px;
	min-height:200px;
	box-shadow: 0 0 40px black;
	padding: 20px;
}

.fieldError {
	font-weight: bold;
	color:red;
}

.plannedTimeOffManager h2 {
	text-align:center;
}

.approveButton {
	display: block;
	width: auto;
	height: 20px;
	background-color: white;
	border: 2px solid #20CEC3;
	color: #20CEC3;
	text-align: center;
}

.approveButton:hover {
	display: block;
	width: auto;
	height: 20px;
	background-color: #20CEC3;
	border: 2px solid #20CEC3;
	color: white;
	text-align: center;
	cursor: pointer;
}

.footer {
	background-color: black;
	width: auto;
	height: 30px;
	margin-bottom: 0px;
}